<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Слово</string>
	<key>CFBundleExecutable</key>
	<string>Slovo</string>
	<key>CFBundleIconFile</key>
	<string>Slovo.icns</string>
	<key>CFBundleIdentifier</key>
	<string>ua.church.slovo</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>uk</string>
		<string>en</string>
		<string>de</string>
		<string>ru</string>
	</array>
	<key>CFBundleName</key>
	<string>Слово</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.99</string>
	<key>CFBundleVersion</key>
	<string>0.99.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_ndi._tcp</string>
		<string>_slovo._tcp</string>
	</array>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Вільна програма для церковного служіння</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>«Слово» надсилає відео NDI у локальну мережу та відповідає пульту на телефоні.</string>
</dict>
</plist>
